<super-navbar>
  <super-navbar-title>
    allergy-info
  </super-navbar-title>
</super-navbar>

<div class="padding">

<div class="QuestionMargin">
  <h4>Allergy Information</h4>

<div class="list">

<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Sulfa
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Penicillin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Nitrofurantoin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Fluoroquinolone
  </li>
  <li class="item item-input">
    <input type="text" placeholder="Type in any other allergies">
  </label>
  </li>
</ul>

  </div>

  <super-navigate location="example#getting-started">
  <button class="button button-block button-positive"> Done!</button>
</super-navigate>
</div>