<super-navbar>
  <super-navbar-title>
    basic-info
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <h4>Basic Information</h4>

<div class="list">

<label class="item item-input">
    <span class="input-label">First Name</span>
    <input type="text">
  </label>

  <label class="item item-input">
    <span class="input-label">Last Name</span>
    <input type="text">
  </label>

<label class="item item-input">
    <span class="input-label">Gender</span>
    <input type="text">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Race
    </div>
    <select>
      <option selected>White</option>
      <option>American Indian or Alaska Native</option>
      <option>Asian</option>
      <option>Black or African American</option>
      <option>Native Hawaiian or Other Pacific Islanders</option>
      <option>Hispanic or Latino</option>
      <option>Other</option>
    </select>
  </label>

<div class="QuestionMargin">
<h4 >Home Address</h4>
</div>

  <label class="item item-input">
    <span class="input-label">Street Address</span>
    <input type="text">
  </label>

  <label class="item item-input">
    <span class="input-label">City/Town</span>
    <input type="text">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      State
    </div>
      <select>
    <option select>Choose a state</option>  	
	<option>Alabama</option>
	<option>Alaska</option>
	<option>Arizona</option>
	<option>Arkansas</option>
	<option>California</option>
	<option>Colorado</option>
	<option>Connecticut</option>
	<option>Delaware</option>
	<option>District Of Columbia</option>
	<option>Florida</option>
	<option>Georgia</option>
	<option>Hawaii</option>
	<option>Idaho</option>
	<option>Illinois</option>
	<option>Indiana</option>
	<option>Iowa</option>
	<option>Kansas</option>
	<option>Kentucky</option>
	<option>Louisiana</option>
	<option>Maine</option>
	<option>Maryland</option>
	<option>Massachusetts</option>
	<option>Michigan</option>
	<option>Minnesota</option>
	<option>Mississippi</option>
	<option>Missouri</option>
	<option>Montana</option>
	<option>Nebraska</option>
	<option>Nevada</option>
	<option>New Hampshire</option>
	<option>New Jersey</option>
	<option>New Mexico</option>
	<option>New York</option>
	<option>North Carolina</option>
	<option>North Dakota</option>
	<option>Ohio</option>
	<option>Oklahoma</option>
	<option>Oregon</option>
	<option>Pennsylvania</option>
	<option>Rhode Island</option>
	<option>South Carolina</option>
	<option>South Dakota</option>
	<option>Tennessee</option>
	<option>Texas</option>
	<option>Utah</option>
	<option>Vermont</option>
	<option>Virginia</option>
	<option>Washington</option>
	<option>West Virginia</option>
	<option>Wisconsin</option>
	<option>Wyoming</option>
    </select>
  </label>

<label class="item item-input">
    <span class="input-label">Zip Code</span>
    <input type="text">
  </label>

<div class="QuestionMargin">
<h4>Email Address</h4>
</div>
  <label class="item item-input">
    <input type="text" placeholder="abc123@u.northwestern.edu">
  </label>

</div>

<super-navigate location="example#allergy-info">
  <button class="button button-block button-positive"> Next</button>
</super-navigate>

</div>
