<super-navbar>
  <super-navbar-title>
    Cases
  </super-navbar-title>
</super-navbar>

<div class="padding" ng-controller ="CasesController">

  <h4>Cases</h4>

<div class="list">

<label class="item item-input" ng-repeat="case in cases">
    <span class="input-label profile-span">{{ case.now }}</span>
    <!-- <i class="super-checkmark-round" style="float:right;"></i> -->
    <p>{{ case.status }}</p>
  </label>


</div>

<!-- <super-navigate location="example#allergy-info">
  
</super-navigate> -->

</div>


