<div class="padding">

  <super-navbar>
    <super-navbar-title>
      AmandaCare
    </super-navbar-title>
  </super-navbar>

  <p>The Best Solution for Treating Your UTI</p>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">I Need Treatment!</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">I'm a Medical Professional</button>
  </super-navigate>

  <h2>Get Started Now</h2>

  

</div>
