<super-navbar>
  <super-navbar-title>
    Profile
  </super-navbar-title>
</super-navbar>

<div class="padding" ng-controller ="ProfileController">

  <h4>Basic Information</h4>

    <div class="list">

    <label class="item item-input">
    <span class="input-label profile-span">First Name</span>
    <input class="profile-input" type="text" ng-model="Profile.firstName">
    </label>

  <label class="item item-input">
    <span class="input-label profile-span">Last Name</span>
    <input class="profile-input" type="text" ng-model="Profile.lastName">
  </label>

    <label class="item item-input">
    <span class="input-label profile-span">Gender</span>
    <input class="profile-input" type="text" ng-model="Profile.gender">
  </label>

  <label class="item item-input item-select">

    <div class="input-label">
      Race
    </div>
    <select ng-model="Profile.race">
      <option selected>White</option>
      <option>American Indian or Alaska Native</option>
      <option>Asian</option>
      <option>Black or African American</option>
      <option>Native Hawaiian or Other Pacific Islanders</option>
      <option>Hispanic or Latino</option>
      <option>Other</option>
    </select>
  </label>

</div>

<div class="QuestionMargin">
<h4 >Home Address</h4>
</div>

  <label class="item item-input">
    <span class="input-label profile-span">Street Address</span>
    <input class="profile-input" type="text" ng-model="Profile.streetAddress">
  </label>

  <label class="item item-input">
    <span class="input-label profile-span">City/Town</span>
    <input  class="profile-input" type="text" ng-model="Profile.city">
  </label>

  <label class="item item-input item-select">
    <div class="input-label profile-span">
      State
    </div>
      <select ng-model="Profile.state">
    <option select>Choose a state</option>  	
	<option>Alabama</option>
	<option>Alaska</option>
	<option>Arizona</option>
	<option>Arkansas</option>
	<option>California</option>
	<option>Colorado</option>
	<option>Connecticut</option>
	<option>Delaware</option>
	<option>District Of Columbia</option>
	<option>Florida</option>
	<option>Georgia</option>
	<option>Hawaii</option>
	<option>Idaho</option>
	<option>Illinois</option>
	<option>Indiana</option>
	<option>Iowa</option>
	<option>Kansas</option>
	<option>Kentucky</option>
	<option>Louisiana</option>
	<option>Maine</option>
	<option>Maryland</option>
	<option>Massachusetts</option>
	<option>Michigan</option>
	<option>Minnesota</option>
	<option>Mississippi</option>
	<option>Missouri</option>
	<option>Montana</option>
	<option>Nebraska</option>
	<option>Nevada</option>
	<option>New Hampshire</option>
	<option>New Jersey</option>
	<option>New Mexico</option>
	<option>New York</option>
	<option>North Carolina</option>
	<option>North Dakota</option>
	<option>Ohio</option>
	<option>Oklahoma</option>
	<option>Oregon</option>
	<option>Pennsylvania</option>
	<option>Rhode Island</option>
	<option>South Carolina</option>
	<option>South Dakota</option>
	<option>Tennessee</option>
	<option>Texas</option>
	<option>Utah</option>
	<option>Vermont</option>
	<option>Virginia</option>
	<option>Washington</option>
	<option>West Virginia</option>
	<option>Wisconsin</option>
	<option>Wyoming</option>
    </select>
  </label>

<label class="item item-input">
    <span class="input-label profile-span">Zip Code</span>
    <input class="profile-input profile-span" type="text" ng-model="Profile.zipCode">

  </label>
    <h4>Allergy Information</h4>

<div class="list">
    <ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.sulfa">
     </label>
     Sulfa
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.penicillin">
     </label>
     Penicillin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.nitrofurantoin">
     </label>
     Nitrofurantoin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.fluoroquinolone">
     </label>
     Fluoroquinolone
  </li>
  <li class="item item-input">
    <input type="text" placeholder="Type in any other allergies" ng-model="Profile.otherAllergy">
    <textarea name="Text1" cols="40" rows="3">
    </textarea>
  </label>
  </li>
</ul>
</div>





</label>
    <h4>Past Medical History</h4>

<div class="list">
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past1">
     </label>
     Cancer
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past2">
     </label>
     HIV/AIDS
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past3">
     </label>
     Diarrhea
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past4">
     </label>
     Swine Flu
  </li>
  <li class="item item-input">
    <input type="text" placeholder="Past diseases" ng-model="Profile.pastOther">
    <textarea name="Text1" cols="40" rows="3">
    </textarea>
  </label>
  </li>
</ul>
</div>


</label>
    <h4>Past Surgical History</h4>
  
<div class="list">
<ul class="list">
    </li>
    <li class="item item-input">
      <input type="text" placeholder="Please provide surgical history" ng-model="Profile.surgeryHistory">
      <textarea name="Text1" cols="40" rows="5">
      </textarea>
    </li>
</ul>
</div>


<div class="QuestionMargin">
<h4 >Insurance Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Insurance Group ID</span>
    <input class="profile-input" type="text" ng-model="Profile.InsuranceGroupId">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Primary policy holder</span>
    <input class="profile-input" type="text" ng-model="Profile.PolicyPerson">
  </label>

  <label class="item item-input  item-stacked-label">
    <span class="input-label profile-span">Insurance Company</span>
    <input class="profile-input" type="text" ng-model="Profile.InsuranceCompany">
  </label>

</div>
    </div>

<div class="QuestionMargin">
<h4>Physician Information</h4>

<div class="list">


<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Physician Name</span>
    <input class="profile-input" type="text" ng-model="Profile.PhysicianName">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">City</span>
    <input class="profile-input" type="text" ng-model="Profile.PhysicianCity">
  </label>
</div>
    </div>

<div class="QuestionMargin">
<h4>Pharmacy Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Pharmacy Name</span>
    <input class="profile-input" type="text" ng-model="Profile.PharmacyName">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">City</span>
    <input class="profile-input" type="text" ng-model="Profile.PharmacyCity">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Zipcode</span>
    <input class="profile-input" type="text" ng-model="Profile.PharmacyZipcode">
  </label>
</div>
</div>

<div class="QuestionMargin">
<h4>Payment Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Credit Card Number</span>
    <input class="profile-input" type="text" ng-model="Profile.CreditCardNumber">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Expiration Date</span>
    <input class="profile-input" type="text" ng-model="Profile.ExpirationDate">
  </label>

  <label class="item item-input  item-stacked-label">
    <span class="input-label profile-span">Name on the Card</span>
    <input class="profile-input" type="text" ng-model="Profile.CardName">
  </label>

  <label class="item item-input  item-stacked-label">
    <span class="input-label profile-span">CVV</span>
    <input class="profile-input" type="text" ng-model="Profile.CVV">
  </label>
</div>
    </div>



<button ng-click="submit()" class="button button-block button-positive"> Save</button>
<!-- <super-navigate location="example#allergy-info">
  
</super-navigate> -->

</div>
