<div ng-controller="RegisterController">
	<super-navbar>
	  <super-navbar-title>
	    Register
	  </super-navbar-title>

	</super-navbar>

	 <div class="padding">
		<div class="list">
			<div class="QuestionMargin">
			<h4>Email Address</h4>
			</div>
			  <label class="item item-input">
			    <input type="text" placeholder="abc123@example.com" ng-model="newUser.email">
			  </label>
			<div class="QuestionMargin">
			<h4>User Name</h4>
			</div>
			  <label class="item item-input">
			    <input type="text" placeholder="John Henry" ng-model="newUser.username">
			  </label>
			<div class="QuestionMargin">
			<h4>Password</h4>
			</div>
			  <label class="item item-input">
			    <input id="password1" type="password" placeholder = "New Password" ng-model="newUser.password1">
			  </label>
			  	<label class="item item-input">
			    <input id="password2" type="password" placeholder = "Confirm" ng-model="newUser.password2">
			  </label>
			</div>

		  <button class="button button-block button-stable" ng-click="signUp()"> Sign Up</button>
		</div>
	</div>
</div>


