<div class="padding" ng-controller= "RootViewController">

  <super-navbar>
    <super-navbar-title>
      AmandaCare
    </super-navbar-title>
  </super-navbar>
  <h5 id="header-text">Hi, {{currentUser.get("username")}}</h5>
  <h5 id="header-text">The Best Solution for Treating Your UTI</h5>

  <super-navigate location="example#Report">
    <button class="button button-block button-calm icon-left super-alert-circled">Report a UTI</button>
  </super-navigate>
  
  <super-navigate location="example#Cases">
    <button class="button button-block button-energized icon-left super-clipboard">View UTI History</button>
  </super-navigate>

  <super-navigate location="example#Profile">
    <button class="button button-block button-royal icon-left super-happy" >Profile and Medical Information</button>
  </super-navigate>
  

  <div id="sign-out-link">
    <a href="">
      <p ng-click="logOut()">Log Out</p>
    </a>
  </div>
  

</div>
