.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.initial-img{
	position:relative;
	width: 130%;
	left:-8%;
}
.img-div{
	margin-top: 26%;
}