.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.initial-img{
	position:fixed;
    bottom:0px;
	width: 100%;
}
.img-div{
	/*margin-top: 15%;*/
}

#register-link{
	margin-top: 10%;
	text-align: center;
}

#sign-out-link{
	margin-top: 30%;
	text-align: center;
}

#header-text {
	text-align: center;
	margin-bottom: 10%;
	margin-top: 10%;
}
